* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 275px;


}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    background-color: green;
    width: 100px;
    height: 50px;
}

/*makes a semi opaque grey-ish box around the entry fields */
label {
    text-align:left;
    font-size:20px;
    font-weight: bold;

}

p{
    text-align:center;
    font-size:30px;
    font-weight: bold;
}

input[type=text], textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.500);
    border-radius: 15px;
;
}
.input{
    text-align: center;
    padding: 10px;

}
